Source: ros-melodic-ess-imu-ros1-spi-driver
Section: misc
Priority: optional
Maintainer: Raymond Chow <raymond.chow@ea.epson.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-geometry-msgs, ros-melodic-roscpp, ros-melodic-sensor-msgs, ros-melodic-std-msgs, ros-melodic-tf2
Homepage: https://wiki.ros.org/ess_imu_ros1_spi_driver
Standards-Version: 3.9.2

Package: ros-melodic-ess-imu-ros1-spi-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-geometry-msgs, ros-melodic-roscpp, ros-melodic-sensor-msgs, ros-melodic-std-msgs, ros-melodic-tf2
Description: ROS1 package for Epson IMU using SPI interface based on C++ wrapper of Linux C driver
